name: Deploy Hermes

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, gaia]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Secrets
        env:
          AWS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          chmod +x scripts/ensure_secret.sh
          echo "HERMES_AWS_ACCESS_KEY_ID_NAME=$(echo "$AWS_KEY" | ./scripts/ensure_secret.sh hermes_aws_access_key_id)" >> $GITHUB_ENV
          echo "HERMES_AWS_SECRET_ACCESS_KEY_NAME=$(echo "$AWS_SECRET" | ./scripts/ensure_secret.sh hermes_aws_secret_access_key)" >> $GITHUB_ENV

      - name: Build and Deploy with Docker Compose
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
          EMAIL_SENDER: ${{ vars.EMAIL_SENDER }}
          ENV: ${{ vars.ENV }}
          REGISTRY_PREFIX: ${{ vars.REGISTRY_PREFIX }}
        run: |
          chmod +x scripts/deploy.sh
          ./scripts/deploy.sh "hermes" docker-compose.yml