name: Deploy Hermes

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, gaia]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build and Deploy with Docker Compose
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          EMAIL_SENDER: ${{ vars.EMAIL_SENDER }}
          ENV: ${{ vars.ENV }}
        run: |
          chmod +x scripts/deploy.sh
          ./scripts/deploy.sh "hermes" docker-compose.yml